* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.article_size{
    margin-top: 90px;
}

.article_size h1{
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    font-family: 'Poppins', sans-serif;
}

.small {
    margin: 34px 0 60px 0;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    color: #808080;
}

.head {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.header__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 22.5px;
    font-family: 'Poppins', sans-serif;

}

.head nav {
    display: flex;
    align-items: center;
}


.head nav a{
    color: black;
}

.head p {
    margin-left: 45px;
    transition: 0.15s all ease;
}

.head p:hover {
    border-bottom: 2px solid rgb(177, 32, 32);
}

.head span {
    margin: 15px 0;
}

.header__p{
    margin-right: 100px;
}



.article{
    display: flex;
    justify-content: space-between;
    height: 525px;
}
.button{
    padding: 12px 18px;
    border: 1px solid black;
    border-radius: 5px;
    transition: 0.2s all ease;
    margin-right: 24px;
    background-color: #fff;
}

.button:hover{
    background-color: rgb(177, 32, 32);
    color: #fff;
    border: 1px solid rgb(177, 32, 32);
    box-shadow: 0px 0px 50px 10px rgba(177,32,32,0.15);
}

.true{
    align-content: space-between;
    margin-top: 120px;
}
.true h2{
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 48px;
    margin-bottom: 20px;
}
.true p{
    font-size: 18px;
}
.content__true{
    margin-bottom: 160px;
}

.cloud{
    display: flex; 
    justify-content: center;
    margin-bottom: 130px;
}
.cloud ul{
    display: inline-flex; 
    justify-content: space-between; 
    width: 1200px;
}

.cloud ul li{
    text-align: center;
    list-style-type: none;
}

.cloud p{
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    font-family: 'Poppins', sans-serif;
}

.cloud h5{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
}

.ready {
    text-align: center;
}

.ready h2{
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 38px;
}

.choose-package{
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 70px;
}

.choices {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 85px;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    font-family: 'Poppins', sans-serif;
}

.choice p{
    margin: 0 75px;
}
.choice a{
    transition: 0.2s all ease;
}
.choice a:hover{
    color: rgb(177, 32, 32);
}
.option button{
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    width: 35%;
    text-align: center;
    border: none;
    background-color: #fff;
    border-bottom: 3px solid #C4C4C4;
}


.option button:hover{
    border-bottom: 3px solid rgb(255, 76, 6);
}

.option button:focus{
    border-bottom: 3px solid rgb(177, 32, 32);
}


.list{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-bottom: 133px;
}
.list__item{
    text-align: left;
    width: 300px;
    border: 1px solid #C4C4C4;
    padding: 34px;
    border-radius: 12px;
}
.list h4{
    margin-top: 5px;
    font-weight: 600;
    font-size: 28px;
    line-height: 15px;
}
.list p{
    text-align: left;
}

.list .small{
    font-size: small;
    margin: 28px 0;
}

.list .small p{
    font-size: small;
}

.list .small b{
    font-size: small;
}

.per{
    margin: 11px 0 35px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.button-per{
    width: 100%;
    padding: 12px 18px;
    border: 2px solid black;
    border-radius: 12px;
    transition: 0.2s all ease;
    margin-right: 24px;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 35px;
}

.button-per:hover{
    background-color: rgb(177, 32, 32);
    color: #fff;
    border: 2px solid rgb(177, 32, 32);
    box-shadow: 0px 0px 50px 10px rgba(177,32,32,0.15);
}

.xBig{
    font-size: 42px;
    line-height: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    
}
.gray{
    margin-left: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.gray li{
    color: #808080;
    margin-bottom: 15px;
    
}


.wares{
    text-align: center;
    height: 430px;
    background-color: #F7FAFE;
    border-radius: 16px;
    padding: 90px;
    margin-bottom: 133px;
}
.wares h2{
    font-size: 64px;
    line-height: 88px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 40px;
}

footer{
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(177, 32, 32);
    color: #fff;
}

footer a{
    color: #fff;
}

.footer__container{
    margin: 64px 110px;
    display: flex;
    margin-bottom: 200px;
}
.footer__info{
    display: flex; 
    justify-content: space-between; 
    width: 940px;
    margin-left: 90px;
}
.wide{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;

}

.last{
    width: 300px;
}
.last div{
    font-family: 'Inter', sans-serif;
    margin-bottom: 24px;
    line-height: 32px;
    font-weight: 300;
}
.not-wide{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin-bottom: 24px;
    line-height: 32px;
    font-weight: 300;
}
svg{
    position: relative;
    bottom: 87px;
    left:264px;
}